<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
    <link rel="stylesheet" href="main.css">
    <link href="{{ url_for('static',filename='css/main.css') }}"
      rel="stylesheet">
  </head>
  <body>
    <div class="center text-center countdown">
      <img src="https://www.mineraze.net/content/images/2022/05/Mineraze.png" class="main-img">
      <div id="countdown" class="font">
        <div class="countdown">
          <span id="months" class="countdown"></span>
          <span id="days"></span>
          <span id="hours"></span>
          <span id="minutes"></span>
          <span id="seconds"></span>
        </div>
      </div>
    </div>
    <script>
        function countDown(endDate) {
    let months, days, hours, minutes, seconds;
  
    endDate = new Date(endDate).getTime();
  
    if (isNaN(endDate)) {
      return;
    }
  
    setInterval(calculate, 1000);
  
    function calculate() {
      let startDate = new Date();
      startDate = startDate.getTime();
  
      let timeRemaining = parseInt((endDate - startDate) / 1000);
  
      if (timeRemaining >= 0) {
        months = parseInt(timeRemaining / 2592000);
        timeRemaining = (timeRemaining % 2592000);
  
        days = parseInt(timeRemaining / 86400);
        timeRemaining = (timeRemaining % 86400);
  
        hours = parseInt(timeRemaining / 3600);
        timeRemaining = (timeRemaining % 3600);
  
        minutes = parseInt(timeRemaining / 60);
        timeRemaining = (timeRemaining % 60);
  
        seconds = parseInt(timeRemaining);
  
        let countdownElement = document.getElementById("countdown");
        countdownElement.innerHTML = "";
  
        if (months > 0) {
          countdownElement.innerHTML += months + " months ";
        }
  
        if (days > 0) {
          countdownElement.innerHTML += days + " days ";
        }
  
        if (hours > 0) {
          countdownElement.innerHTML += hours + " hours ";
        }
  
        if (minutes > 0) {
          countdownElement.innerHTML += minutes + " minutes ";
        }
  
        countdownElement.innerHTML += seconds + " seconds";
      } else {
         // Count up timer
        months = parseInt(timeElapsed / 2592000);
        timeElapsed = (timeElapsed % 2592000);
        
        days = parseInt(timeElapsed / 86400);
        timeElapsed = (timeElapsed % 86400);
        
        hours = parseInt(timeElapsed / 3600);
        timeElapsed = (timeElapsed % 3600);
        
        minutes = parseInt(timeElapsed / 60);
        timeElapsed = (timeElapsed % 60);
        
        seconds = parseInt(timeElapsed);
      }
    }
  }

countDown("2023-02-01 4:00:00");
    </script>
  </body>
</html>